@import url('normalize.css');
@import url('reset.css');

/* Layout */
main {
    padding: 45px 0;
}

section + section {
    margin-top: 12px;
}

hr {
  border: none;
  height: 1px;
  background-color: #CECECF;
}

/* Typography */
@font-face {
    font-family: 'SF-PRO';
    src: url(../font/SF-Pro.ttf) format('truetype');
}
body{
    font-family: 'SF-PRO', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-weight: 500;
    color: #1D1D1F;
}
h1 { font-size: 55px; font-weight: bold; }
h2 { font-size: 28px; }
h3 { font-size: 21.5px; }
h4 { font-size: 15px; color: #8A8A8E; }
h6 { font-size: 10px; color: #999999;}
@media screen and (max-width: 1068px) {
    h1 { font-size: 45px; }
    h2 { font-size: 25px; }
    h3 { font-size: 21px; }
    h4 { font-size: 14.5px; }
}
@media screen and (max-width: 834px) {
    h1 { font-size: 32px; }
    h2 { font-size: 19px; }
    h3 { font-size: 13px; }
    h4 { font-size: 14px; }
}
.gradient-rainbow {
    display: inline-block; /* 필수: background 영역 계산을 위해 */
    background:
        linear-gradient(
            90deg,
            #088EF7 0%,
            #DB4FA8 50%,
            #F55809 100%
        );
    -webkit-background-clip: text;         /* 배경을 글자 모양으로 자름 */
    -webkit-text-fill-color: transparent;  /* 글자 안만 보이게 */
}

/* Link & Button */
i {
    font-size:15px;
}
.accent-button {
    height: 44px;
    font-size: 15px;
    font-weight: 500;
    line-height: calc(100% + 1px);
    text-decoration: none;
    padding: 11px 21px;
    border-radius: 22px;
    box-sizing: border-box;
    color: white;
    background: #0071E3;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}
.accent-button:hover {
    background: #0077ED;
}
.accent-button:active {
    background: #0071E3;
}
.button {
    height: 44px;
    font-size: 15px;
    font-weight: 500;
    line-height: calc(100% + 1px);
    text-decoration: none;
    border-radius: 22px;
    padding: 11px 21px;
    box-sizing: border-box;
    color: #0071E3;
    background: #F5F5F7;
    border: 1px solid #0071E3;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    user-select: none;
}
.button:hover {
    background: #0077ED;
    color:white;
}
.button:active {
    background: #0071E3;
    color:white;
}
@media screen and (max-width: 834px) {
    .accent-button {
        height: 36px;
        font-size: 12px;
        padding: 7px 15px;
        line-height: calc(100% + 2px);
    }
    .button {
        height: 36px;
        font-size: 12px;
        padding: 7px 15px;
        line-height: calc(100% + 2px);
    }
}
a.blue-link {
    color: #0066CC;
}
a.black-link {
    color: #444445;
    text-decoration: none;
}
a.under-black-link {
    color: #444445;
    text-decoration: underline;
}
a.hover-underline:hover{
    text-decoration: underline;
}
/* Form */

/* #region Header */
header {
    height: 48px;
    width: 100%;
    padding: 13px 22px;
    display: center;
    position: fixed;
    box-sizing: border-box;
    text-align: center;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px); /* 사파리용 */
    background: rgba(255, 255, 255, 0.8);
    z-index: 1;
    transition: height 0.3s ease;
    overflow: hidden;
}
header nav {
    display: flex;
    justify-content: center;
}
header nav ul {
    display: flex;
    justify-content: space-evenly;
}
header * a {
    text-decoration: none;
    color: #333333;
    font-size: 11px;
    font-weight: 500;
}
header * .menu {
    display: none;
}
header * h1 {
    font-size: 17px;
}
header .fa-apple {
    font-size:17px;
}
header .menu-content {
    margin: 32px 25px;
}
header .menu-content ul {
    display: flex;
    text-align: left;
    flex-direction: column;
    padding: 0;
    margin: 0;
}
header .menu-content ul li {
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
    display: flex;
    user-select: none;
    justify-content: space-between;
    animation-fill-mode: forwards;
}
header .menu-content ul i {
    opacity: 0;
    font-size: 20px;
}
header .menu-content ul li:hover i {
    animation: fadeInLeft 0.4s ease forwards;
}
header .menu-content ul li:not(:hover) i {
    animation: fadeOut 0.4s ease forwards;
}
/* 필요하면 계속 추가 */
/* #endregion */

/* #region header 메뉴 screen */

/* #region header 메뉴 @media screen min-width: 1070px*/
@media screen and (min-width: 1070px) {
    header nav {
        display: center;
    }
    header * h1:first-child {
        margin: 0 21px 0 0;
    }
    header * li, h1 {
        margin: 0 21px;
    }
    header * h1:last-child {
        margin: 0 0 0 21px;
    }
}
/* #endregion */

/* #region header 메뉴 @media screen max-width: 1069px*/
@media screen and (max-width: 1069px) {
    header nav {
        justify-content: center;
    }
    header * ul{
        justify-content: space-between;
        width:100%;
    }
}
/* #endregion */

/* #region header 메뉴 @media screen max-width: 834px*/
@media screen and (max-width: 834px) {
    header * .submenu{
        justify-content: flex-end;
    }
    header nav * li:not(:nth-last-child(-n+1)){
        display: none;
    }
    header * h1:nth-last-child(-n+2){
        margin: 0 15px;
    }
    header nav * h1:last-child{
        margin: 0 0 0 15px;
    }

    header .menu { display: block; }
    header .menu label { cursor: pointer; }
    header nav * li { margin: 0 15px; }

    /* #region header 아이콘 나타내기 */
    /* Icon의 Opacity 설정*/
    header nav * i {
        opacity: 1;
        transition: opacity 0.4s ease, padding 0.3s ease;
    }
    input:checked ~ header nav * i.open-icon { opacity: 0; }

    input:checked ~ header .menu label i.open-icon { display: none; }
    input:checked ~ header .menu label i.close-icon { display: inline;}
    input:not(:checked) ~ header .menu label i.close-icon { display: none; }
    /* #endregion */

    input:checked ~ header {
        background: rgba(255, 255, 255);
        height: 100vh; /* 또는 100%, 상황에 따라 조정 */
    }
    input:checked ~ header .menu-content ul li {
        opacity: 0;
        animation: fadeInUp 0.4s ease forwards;
    }
    input:checked ~ header .menu-content ul li:nth-child(1) { animation-delay: 0s; }
    input:checked ~ header .menu-content ul li:nth-child(2) { animation-delay: 0.025s; }
    input:checked ~ header .menu-content ul li:nth-child(3) { animation-delay: 0.05s; }
    input:checked ~ header .menu-content ul li:nth-child(4) { animation-delay: 0.075s; }
    input:checked ~ header .menu-content ul li:nth-child(5) { animation-delay: 0.1s; }
    input:checked ~ header .menu-content ul li:nth-child(6) { animation-delay: 0.125s; }
    input:checked ~ header .menu-content ul li:nth-child(7) { animation-delay: 0.15s; }
    input:checked ~ header .menu-content ul li:nth-child(8) { animation-delay: 0.175s; }
    input:checked ~ header .menu-content ul li:nth-child(9) { animation-delay: 0.2s; }
    input:checked ~ header .menu-content ul li:nth-child(10) { animation-delay: 0.225s; }
    input:checked ~ header .menu-content ul li:nth-child(11) { animation-delay: 0.25s; }
    input:not(checked) ~ header .menu-content ul li {
        animation: fadeOutDown 0.3s ease forwards;
        animation-delay: 0;
    }
}
/* #endregion */

/* #endregion */

main section {
    width: 100%;
    height: 692px;
    background: #f5f5f7;
    background-size : auto 100%;
    background-repeat: no-repeat;
    background-position: center;
}
main section .layout {
    width:100%;
    text-align: center; 
    position: relative;
    top: 26%; left: 50%; transform: translate(-50%, -50%);
}
main section > div > * {
    margin: 16px 0 0 0;
}
main section .layout .content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
main section .layout .content a:last-child {
    margin: 0 0 0 13px;
}

main .apple-watch {
    background-image: url(../image/apple_watch.png);
}
@media screen and (max-width: 1068px) {
    main .apple-watch {
        height: 650px;
        background-image: url(../image/apple_watch_middle.png);
    }
    main .apple-watch .layout img {
        width: 177px; height: 66px;
    }
}
@media screen and (max-width: 834px) {
    main .apple-watch {
        height: 500px;
        background-image: url(../image/apple_watch_mini.png);
    }
    main .apple-watch .layout img {
        width: 115px; height: 43px;
    }
}

main .iphone-16 {
    background-image: url(../image/apple_iphone16.png);
}
@media screen and (max-width: 1068px) {
    main .iphone-16 {
        height: 650px;
    }
}
@media screen and (max-width: 834px) {
    main .iphone-16 {
        height: 500px;
        background-image: url(../image/apple_iphone16_mini.png);
    }
}
main .iphone-16 .layout *:last-child {
    margin: 5px 0 0 0;
}

main .macbook-air {
    background: radial-gradient(
                    farthest-corner at 0 0,
                    #D3E9F6 0%,
                    #E9F2F7 50%,
                    white 100%
                );
}
main .macbook-air .layout {
    text-align: center; 
    position: relative;
    top: 50%; left: 50%; transform: translate(-50%, -50%);
}
main .macbook-air > div > * {
    display: block;
    text-align: center;
}
main .macbook-air * .image {
    margin: 0 0 43px 0;
    display: inline-block;
    width: 586px; height: 289px;
    background-size : auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    background: url("../image/macbook_air.png");
}
main .macbook-air div img {
    display: inline-block;
}
@media screen and (max-width: 1068px) {
    main .macbook-air {
        height: 650px;
    }
    main .macbook-air * .image {
        width: 506px; height: 253px;
        background-size : auto 96%;
    }
}
@media screen and (max-width: 834px) {
    main .macbook-air {
        height: 500px;
    }
    main .macbook-air * .image {
        margin: 0;
        width: 254px; height: 235px;
        background: url("../image/macbook_air_mini.png");
    }
}
main .macbook-air .layout *:last-child {
    margin: 5px 0 0 0;
}


footer {
    width: 100%;
    font-size: 11px;
    padding: 19px 22px;
    display: center;
    box-sizing: border-box;
    text-align: left;
    color: #6D6D6E;
    background: #F5F5F7;
    z-index: 1;
}
footer > div {
    max-width: 992px; 
    margin: 0 auto;
}
footer .footer-menu input,
footer .footer-menu i {
    display: none;
    font-size: 11px;
}
footer .footer-menu > div * p {
    font-size: 12px;
    padding: 23px 0 7px 0;
    font-weight: bold;
    color: #1E1E1E;
}
footer .footer-menu li {
    padding: 7px 0 7px 0;
}
footer .footer-menu div {
    max-width: 196px;
}
footer .footer-menu li a {
    text-decoration: none;
    color: #444445;
}
footer .footer-menu {
    margin: -18px 0 28px 0;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
}

footer .footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .footer-links .footer-links-menu {
    position: relative;
    padding: 0 10px;
}
footer .footer-links .footer-links-menu > *:not(:first-child)::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 14px;
    background-color: #ccc;
    margin-left: -8px;
}
footer .footer-links .footer-links-menu > *:not(:first-child) {
    padding-left: 16px;
}

footer .footer-links > p { order: 1; }
footer .footer-links > p {
    width: 28%;
    box-sizing: border-box;
}
footer .footer-links > div { order: 2; }
footer .footer-links > div {
    width: 43%;
    box-sizing: border-box;
}
footer .footer-links > a { order: 3; }
footer .footer-links > a {
    width: 28%;
    box-sizing: border-box;
    text-align: right;
}

@media screen and (max-width: 1023px) {
    footer .footer-links .footer-links-menu {
        padding: 8px 0;
    }

    footer .footer-links > p { order: 1; }
    footer .footer-links > p {
        width: 50%;
    }
    footer .footer-links > a { order: 2; }
    footer .footer-links > a {
        width: 50%;
    }
    footer .footer-links > div { order: 3; }
    footer .footer-links > div {
        width: 100%;
    }
}

@media screen and (max-width: 833px) {
    footer .footer-links > a { order: 1; }
    footer .footer-links > a {
        width: 100%;
        padding: 23px 0;
        text-align: left;
    }
    footer .footer-links > p { order: 2; }
    footer .footer-links > p {
        width: 100%;
    }
    footer .footer-links > div { order: 3; }

    footer div > hr:last-of-type { display: none; }
    footer br:nth-last-of-type(2),
    footer br:nth-last-of-type(3) { display: none; }
}

@media screen and (max-width: 833px) {
    footer .footer-menu {
        height: 100%;
        display: flex;
        flex-wrap: nowrap;
        align-items: stretch;
    }
    footer .footer-menu ul {
        margin-left: 14px;
        visibility: hidden;
        max-height: 0;
        padding: 0;
        overflow: hidden;
    }
    footer .footer-menu li {
        visibility: hidden;
        max-height: 0;
        transform: translateY(-500%);
        transition: transform 0.4s ease, padding 0.3s ease;
    }
    footer .footer-menu div:first-child{
        padding-top:32px;
    }
    footer .footer-menu div{
        max-width: 100%;
        padding: 0;
    }
    footer .footer-menu label {
        display: flex;
        justify-content: space-between;
        cursor: pointer;
    }
    footer .footer-menu label p {
        font-size: 11px;
        padding:0;
        user-select: none;
        font-weight: normal;
    }
    footer .footer-menu hr {
        width: 100%;
        height: 1px;
        background-color: #CECECF;
        border: none;
        margin: 13px 0;
    }
    footer input:checked ~ ul {
        margin: 14px 5px 0 5px;
        user-select: none;
        visibility: visible;
        max-height: 100%;
    }
    footer input:checked ~ ul > li {
        user-select: none;
        visibility: visible;
        transform: translateY(0);
        max-height: 100%;
    }

    /* #region .footer-menu 아이콘 표시 */
    footer .footer-menu i { display: inline-block; }
    footer input:checked + label .open-icon { display: none; }
    footer input:checked + label .close-icon { display: inline; }
    footer input:not(:checked) + label .close-icon { display: none; }
    /* #endregion */
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-10px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes fadeOutLeft {
  from {
    opacity: 1;
    transform: translateX(0px);
  }
  to {
    opacity: 0;
    transform: translateX(-10px);
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(10px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes fadeOutRight {
  from {
    opacity: 1;
    transform: translateX(0px);
  }
  to {
    opacity: 0;
    transform: translateX(10px);
  }
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadeOutUp {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadeOutDown {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}